<div class="card">
    <%= image_tag prototype.image, class: 'prototype-image' if prototype.image.attached? %>
  <div class="card__body">
    <%= link_to "プロトタイプのタイトル", root_path, class: :card__title%>
    <p class="card__summary">
      <%= "プロトタイプのキャッチコピー" %>
    </p>
    <%= link_to  "by #{@prototype.user.name}", root_path, class: :card__user %>
  </div>
</div>